<h2 mat-dialog-title>
  {{ isEdit ? 'Editar tipo de música' : 'Registrar tipo de música' }}
</h2>

<form [formGroup]="form" (ngSubmit)="guardar()">
  <mat-form-field appearance="fill">
    <mat-label>Nombre del tipo</mat-label>
    <input matInput formControlName="nombreTipo" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Categoría</mat-label>
    <input matInput formControlName="categoria" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Descripción</mat-label>
    <input matInput formControlName="descripcion" />
  </mat-form-field>

  <div class="acciones">
    <button mat-raised-button color="primary" type="submit">
      {{ isEdit ? 'Guardar cambios' : 'Registrar' }}
    </button>
    <button mat-button type="button" (click)="cancelar()">Cancelar</button>
  </div>
</form>
