<div class="container">

    <h2>{{ edicion ? 'Editar Hábito' : 'Registrar Hábito' }}</h2>

    <div class="form-box">
        <form [formGroup]="form" (submit)="aceptar()">

            @if (edicion) {
            <mat-form-field>
                <mat-label>ID</mat-label>
                <input matInput formControlName="codigo" readonly />
            </mat-form-field>
            }

            <mat-form-field>
                <mat-label>Nombre del Hábito</mat-label>
                <input matInput formControlName="nombreHabito" maxlength="100" />
                <mat-error>
                    @if (form.get('nombreHabito')?.hasError('required')) {
                    Ingrese nombre del hábito
                    }
                </mat-error>
            </mat-form-field>

            <!-- Textarea con estilo corregido -->
            <mat-form-field class="textarea-filled">
                <mat-label>Descripción</mat-label>
                <textarea matInput rows="4" formControlName="descripcion" maxlength="300"></textarea>

                <mat-error>
                    @if (form.get('descripcion')?.hasError('required')) {
                    Ingrese una descripción
                    }
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Categoría</mat-label>
                <mat-select formControlName="categoria">
                    @for (c of categorias; track c) {
                    <mat-option [value]="c">{{ c }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Momento del Día</mat-label>
                <mat-select formControlName="momentoDia">
                    @for (m of momentos; track m) {
                    <mat-option [value]="m">{{ m }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Usuario</mat-label>
                <mat-select formControlName="usuario">
                    @for (u of listaUsuarios; track u.id) {
                    <mat-option [value]="u.id">{{ u.username }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Estado</mat-label>
                <mat-select formControlName="activo">
                    <mat-option [value]="true">Activo</mat-option>
                    <mat-option [value]="false">Inactivo</mat-option>
                </mat-select>
            </mat-form-field>

            <div class="button-container">
                <button mat-raised-button type="submit">
                    {{ edicion ? 'Actualizar' : 'Registrar' }}
                </button>

                <button mat-button type="button" class="cancel-btn" (click)="cancelar()">
                    Cancelar
                </button>
            </div>
        </form>

        <p class="mensaje-global">
            @if(form.invalid && form.touched){
            Complete los espacios en blanco
            }
        </p>

    </div>
</div>
