<div class="report-card">
  <h3><mat-icon>warning</mat-icon>Reporte de Registros de Sueño por Calidad</h3>
  <p class="report-subtitle">
    Muestra los registros donde la calidad de sueño es igual al umbral
  </p>

  <div class="filter-row">
    <mat-form-field appearance="outline" class="filter-field-umbral">
      <mat-label>  Umbral de Calidad (1-5)</mat-label>
      <input 
        matInput 
        type="number" 
        [(ngModel)]="umbralCalidad" 
        min="1" 
        max="5" 
        (keydown.enter)="buscarSuenos()">
      <mat-icon matSuffix>star_half</mat-icon>
    </mat-form-field>

    <button mat-raised-button color="warn" class="search-button" (click)="buscarSuenos()">
      <mat-icon>search</mat-icon> Buscar Registros
    </button>
  </div>

  @if (mensajeError) {
    <div class="no-data-message error-message">
      <mat-icon>error_outline</mat-icon> {{ mensajeError }}
    </div>
  }

  @if (!mensajeError && dataSource.data.length > 0) {
    <div class="report-table-wrapper">
      <table mat-table [dataSource]="dataSource" class="report-table">
        
        <ng-container matColumnDef="idSueno">
          <th mat-header-cell *matHeaderCellDef> ID Reg. </th>
          <td mat-cell *matCellDef="let element"> {{ element.idSueno }} </td>
        </ng-container>

        <ng-container matColumnDef="idUsuario">
          <th mat-header-cell *matHeaderCellDef> Usuario </th>
          <td mat-cell *matCellDef="let element"> {{ element.idUsuario.username }} </td>
        </ng-container>

        <ng-container matColumnDef="fechaRegistro">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{ element.fechaRegistro | date:'mediumDate' }} </td>
        </ng-container>

        <ng-container matColumnDef="calidadSueno">
          <th mat-header-cell *matHeaderCellDef> Calidad </th>
          <td mat-cell *matCellDef="let element"> 
            <span class="bad-quality">{{ element.calidadSueno }}/5</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="interrupciones">
          <th mat-header-cell *matHeaderCellDef> Interrupciones </th>
          <td mat-cell *matCellDef="let element"> {{ element.interrupciones }}</td>
        </ng-container>
        
        <ng-container matColumnDef="cafeinaConsumida">
            <th mat-header-cell *matHeaderCellDef> Cafeína </th>
            <td mat-cell *matCellDef="let element"> {{ element.cafeinaConsumida ? 'Sí' : 'No' }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  }
</div>