<div class="container">
  <div class="header-row">
    <h2>
      <mat-icon class="habit-icon">bedtime</mat-icon>
      Registro de Sueño
    </h2>
    <button mat-button class="add" [routerLink]="['/suenos/news']">
      <mat-icon>add</mat-icon> Registrar Sueño
    </button>
  </div>

  <div class="habits-grid">
    <div class="habit-card" *ngFor="let s of dataSource.data">
      
      <div class="card-header">
        <h3>
          {{ s.fechaRegistro | date:'fullDate' }}
        </h3>
        <span class="status" [class.active]="s.calidadSueno >= 3" [class.inactive]="s.calidadSueno < 3">
            Calidad: {{ s.calidadSueno }}/5
        </span>
      </div>

      <div class="info-row">
        <mat-icon>person</mat-icon>
        <span>{{ s.idUsuario.username }}</span>
      </div>

      <div class="info-row">
        <mat-icon>schedule</mat-icon>
        <span>
            Dormir: {{ s.horaAcostarse | date:'HH:mm' }} - 
            Despertar: {{ s.horaDespertar | date:'HH:mm' }}
        </span>
      </div>

      <div class="info-row">
        <mat-icon>coffee</mat-icon>
        <span>Cafeína: {{ s.cafeinaConsumida ? 'Sí' : 'No' }}</span>
        <span style="margin-left: 10px;">(Interrupciones: {{s.interrupciones}})</span>
      </div>

      <p class="descripcion">
        @if (s.notas) { "{{ s.notas }}" } @else { <span class="error-text">Sin notas</span> }
      </p>

      <div class="card-actions">
        <button mat-icon-button color="primary" [routerLink]="['/suenos/edits', s.idSueno]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="eliminar(s.idSueno)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

    </div>
  </div>
</div>