<div class="container">
  <div style="text-align: center; margin: 5%">
    <h2>{{ edicion ? 'Editar Tipo de Música' : 'Registrar Tipo de Música' }}</h2>
  </div>

  <div class="form-box">
    <form [formGroup]="form" (submit)="aceptar()">

      @if(edicion){
      <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput formControlName="codigo" readonly/>
      </mat-form-field>
      }

      <mat-form-field>
        <mat-label>Nombre del Tipo</mat-label>
        <input matInput formControlName="nombreTipo" maxlength="50" />
        <mat-error>
          @if(form.get('nombreTipo')?.hasError('required')){
            Ingrese el nombre del tipo.
          }
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Categoría</mat-label>
        <mat-select formControlName="categoria" required>
          @for (c of categorias; track c) {
            <mat-option [value]="c">{{ c }}</mat-option>
          }
        </mat-select>

        <mat-error>
          @if(form.get('categoria')?.hasError('required')){
            Seleccione una categoría.
          }
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Descripción</mat-label>
        <textarea
          matInput
          formControlName="descripcion"
          maxlength="200"
          placeholder="Ingrese hasta 200 caracteres..."
        ></textarea>

        @if(form.get('descripcion')?.hasError('required')){
          <mat-error>Ingrese una descripción.</mat-error>
        }

        @if(form.get('descripcion')?.value?.length > 200){
          <mat-error>Máximo de caracteres: 200</mat-error>
        }
      </mat-form-field>

      <div class="button-container">
        <button matButton="elevated">
          {{ edicion ? 'Actualizar' : 'Registrar' }}
        </button>

        <button mat-button type="button" class="cancel-btn" (click)="cancelar()">
          Cancelar
        </button>
      </div>
    </form>

    <p class="mensaje-global">
      @if(form.invalid && form.touched){
        <mat-error>Complete los espacios en blanco.</mat-error>
      }
    </p>

  </div>
</div>
