<div class="container">

  <h2>{{ edicion ? 'Editar Registro de Estrés' : 'Registrar Registro de Estrés' }}</h2>

  <div class="form-box">
    <form [formGroup]="form" (ngSubmit)="aceptar()">

      <mat-form-field *ngIf="edicion">
        <mat-label>ID</mat-label>
        <input matInput formControlName="codigo" readonly />
      </mat-form-field>

      <div class="row">
        <mat-form-field class="col">
          <mat-label>Nivel de Estrés</mat-label>
          <input matInput type="number" formControlName="nivelEstres" min="0" max="10" />
          <mat-error *ngIf="form.get('nivelEstres')?.hasError('required')">
            Ingrese nivel de estrés
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col">
          <mat-label>Nivel de Ansiedad</mat-label>
          <input matInput type="number" formControlName="nivelAnsiedad" min="0" max="10" />
        </mat-form-field>
      </div>

      <mat-form-field class="textarea-filled">
        <mat-label>Factores Estimulantes</mat-label>
        <textarea matInput rows="3" formControlName="factoresEstimulantes" maxlength="500"></textarea>
      </mat-form-field>

      <div class="row">
        <mat-form-field class="col">
          <mat-label>Síntomas Físicos</mat-label>
          <input matInput formControlName="sintomasFisicos" maxlength="300" />
        </mat-form-field>

        <mat-form-field class="col">
          <mat-label>Síntomas Emocionales</mat-label>
          <input matInput formControlName="sintomasEmocionales" maxlength="300" />
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-label>Fecha de Registro</mat-label>
        <input matInput formControlName="fechaRegistro" [matDatepicker]="pickerReg" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="pickerReg"></mat-datepicker-toggle>
        <mat-datepicker #pickerReg></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <mat-select formControlName="usuario">
          <mat-option *ngFor="let u of listaUsuarios" [value]="u.id">
            {{ u.username || ('Usuario ' + u.id) }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('usuario')?.hasError('required')">
          Seleccione usuario
        </mat-error>
      </mat-form-field>

      <div class="button-container">
        <button mat-raised-button type="submit">
          {{ edicion ? 'Actualizar' : 'Registrar' }}
        </button>

        <button mat-button type="button" class="cancel-btn" (click)="cancelar()">
          Cancelar
        </button>
      </div>
    </form>

    <p class="mensaje-global" *ngIf="form.invalid && form.touched">
      Complete los espacios en blanco
    </p>
  </div>
</div>