<h2 mat-dialog-title>Plan del día</h2>

<div mat-dialog-content class="form-container">

  <mat-form-field appearance="outline" class="full">
    <mat-label>Título / Rutina</mat-label>
    <input matInput [(ngModel)]="data.routine">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full">
    <mat-label>Notas</mat-label>
    <textarea matInput rows="3" [(ngModel)]="data.notes"></textarea>
  </mat-form-field>

  <div class="row">
    <mat-form-field appearance="outline" class="half">
      <mat-label>Hora de dormir</mat-label>
      <input matInput type="time" [(ngModel)]="data.sleepTime">
    </mat-form-field>

    <mat-form-field appearance="outline" class="half">
      <mat-label>Hora de despertar</mat-label>
      <input matInput type="time" [(ngModel)]="data.wakeTime">
    </mat-form-field>
  </div>

</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>

  <button *ngIf="data?.id"
          mat-raised-button
          color="warn"
          (click)="onDelete()">
    Eliminar
  </button>

  <button mat-flat-button color="primary" (click)="onSave()">
    Guardar
  </button>
</div>
