<div class="container">
    <h2>{{ edicion ? 'Editar Usuarios' : 'Registrar Usuarios' }}</h2>
    <div class="form-box">
        <form [formGroup]="form" (submit)="aceptar()">

            @if (edicion) {
            <mat-form-field>
                <mat-label>ID</mat-label>
                <input matInput formControlName="codigo" readonly />
            </mat-form-field>
            }

            <mat-form-field>
                <mat-label>Nombre de usuario</mat-label>
                <input matInput formControlName="username" maxlength="30" />
                <mat-error>
                    @if (form.get('username')?.hasError('required')) {
                    Ingrese nombre de usuario
                    }
                </mat-error>
            </mat-form-field>

            
            <mat-form-field>
                <mat-label>Contraseña</mat-label>
                <input matInput formControlName="password" maxlength="200" />
                <mat-error>
                    @if (form.get('password')?.hasError('required')) {
                    Ingrese contraseña
                    }
                </mat-error>
            </mat-form-field>

            <mat-radio-group aria-label="Selecciona una opción" formControlName="enabled">
                <mat-label>Activado</mat-label>
                <mat-radio-button [value]="true">Sí</mat-radio-button>
                <mat-radio-button [value]="false">No</mat-radio-button>
                <mat-error>
                    @if (form.get('enabled')?.hasError('required')) {
                    Ingrese si esta activado o no
                    }
                </mat-error>
            </mat-radio-group>
            

            <div class="button-container">
                <button matButton="elevated">
                    {{ edicion ? 'Actualizar' : 'Registrar' }}
                </button>

                <button mat-button type="button" class="cancel-btn" (click)="cancelar()">
                    Cancelar
                </button>
            </div>

        </form>

        <p class="mensaje-global">
            @if(form.invalid && form.touched){
            Complete los espacios en blanco
            }
        </p>

    </div>
</div>