<div class="container">

  <h2>{{ edicion ? 'Editar Música Multimedia' : 'Registrar Música Multimedia' }}</h2>

  <div class="form-box">
    <form [formGroup]="form" (submit)="aceptar()">

      @if (edicion) {
      <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput formControlName="codigo" readonly />
      </mat-form-field>
      }

      <mat-form-field>
        <mat-label>Nombre de Música</mat-label>
        <input matInput formControlName="nombreMusica" maxlength="200" />
        <mat-error>
          @if (form.get('nombreMusica')?.hasError('required')) {
          Ingrese nombre de la música
          }
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Link Archivo</mat-label>
        <input matInput formControlName="linkArchivo" maxlength="500" />
        <mat-error>
          @if (form.get('linkArchivo')?.hasError('required')) {
          Ingrese link del archivo
          }
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Tipo de Música</mat-label>
        <mat-select formControlName="tipo">
          @for (t of listaTipos; track t.idTipoMusica) {
          <mat-option [value]="t.idTipoMusica">
            {{ t.nombreTipo }}
          </mat-option>
          }
        </mat-select>
        <mat-error>
          @if (form.get('tipo')?.hasError('required')) {
          Seleccione el tipo de música
          }
        </mat-error>
      </mat-form-field>

      <div class="button-container">
        <button matButton="elevated">
          {{ edicion ? 'Actualizar' : 'Registrar' }}
        </button>

        <button mat-button type="button" class="cancel-btn" (click)="cancelar()">
          Cancelar
        </button>
      </div>

    </form>

    <p class="mensaje-global">
      @if(form.invalid && form.touched){
      Complete los espacios en blanco
      }
    </p>

  </div>
</div>